
.text-light-orange{
    color: orange;
}

/* .data-table{
    border: 1px;
    box-sizing: border-box;
    border-color: black;
} */

#pie-chart {
    margin: 0 auto;
    height: 450px;
  }

p {
    align-content: center;
    font-size: larger;
}

/* #my_map { height: calc(100% - 44px); width: 100%; position: absolute !important; } */


.imgvis {

    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: 3px 3px 3px rgb(29, 28, 28);
    padding: 10%;
} 

/*
